@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


body{
  --background-blur:rgba(255, 255, 255, 0.4);
  --background-content:rgba(255, 255, 255, 0.8);
  --background-color: white;
  --border-color: rgba(0, 0, 0, 0.5);
  --text-color: black;
  --text-desc: rgb(22, 22, 22);
  --button-link: orange;
}

body.dark{
  --background-blur:rgba(70, 70, 70, 0.5);
  --background-content:rgba(56, 56, 56, 0.8);
  --background-color: rgb(31, 31, 31);
  --border-color: rgba(255, 255, 255, 0.5);
  --text-color: white;
  --text-desc: rgb(200, 200, 200);
  --button-link: blue;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  background-position: center;
  /* background-blend-mode: overlay; */
}

:root{
  --border-radius: 20px;
}




